<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
<%- include("../partials/style_link.hbs") %>
</head>
<body>
 <%- include("../partials/nav.hbs") %>
    <!-- <div class="quotes">
        <% for(var i = 0; i < data.length; i++) {%>
        <div class="quote">

                <h1><%= data[i].name %></h1>
                <p><%= data[i].quote %></p>
                <button class="delete-button" data-id="<%= data[i].id%>">delete</button>
                <button class="update-button" data-id="<%= data[i].id%>">update</button>
            </div>
                <% } %>
            </div> -->
            <table>
                <thead>

                    <th>name</th>
                    <th>address</th>
                    <th>email</th>
                    <th>phone number</th>
                   <th>D.O.B</th>
                    <th colspan="2">edit</th>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++) {%>
                    <tr>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].address %></td>
                        <td><%= data[i].email %></td>
                        <td><%= data[i].phone %></td>
                        <td><%= data[i].dob %></td>
                        <td><i class="fas fa-user-minus delete-button"  data-id="<%= data[i].id%>"></i></td>
                        <td> <i class="fas fa-user-edit update-button" data-id="<%= data[i].id%>"></i></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div id="update-form">

                <div class="close-btn" onclick="this.parentElement.style.display ='none'"><i class="far fa-times-circle"></i></div>
                <form action="/update" method="put">
                    <input type="text" name="name"  class="form-input" id="name">
                    <input type="text" name="address" class="form-input"  id="address">
                    <input type="text" placeholder="email" name="email" id="email" class="form-input">
                    <input type="tel" placeholder="number" name="phone" id="phone" class="form-input">
                    <input type="date" name="dob", class="form-input" id="dob">
                    <button type="submit" id="update-button">submit</button>
                </form>
            </div>
    <script src="./js/main.js"></script>
</body>
</html>